[CMSSW]
generator=lhe
total_number_of_events=10000
pset=GluGluToH2JetsHToGG_M-125_8TeV-powheg-minlo-pythia6.py
use_parent=0
events_per_job=250
get_edm_output=1
datasetpath=None

[GRID]
maxtarballsize=100
proxy_server=myproxy.cern.ch
virtual_organization=cms
retry_count=10

[USER]
## ui_working_dir=GluGluToH2JetsHToGG_M-125_8TeV-powheg-minlo-pythia6-v1
publish_zero_event=1
copy_data=1
publish_data_name=GluGluToH2JetsHToGG_M-125_8TeV-powheg-minlo-pythia6-v1
publish_data=1
dbs_url_for_publication=https://cmsdbsprod.cern.ch:8443/cms_dbs_ph_analysis_01_writer/servlet/DBSServlet
storage_element=caf.cern.ch
return_data=0
user_remote_dir=store/cmst3/user/musella/hgg/minlo
storage_path=root://eoscms//eos/cms

[CRAB]
scheduler=caf
jobtype=cmssw

[CAF]
queue=1nd

